.grid {
  width: 70vh;
  height: 70vh;
  display: flex;
  margin: 1vh auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  user-select: none;
}

@media only screen and (orientation: portrait) {
  .grid {
    width: 96vw;
    height: 96vw;
  }
}
