html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
    background: #fff;
    color: #333;
}

.kanji-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.kanji-top {
    width: 100%;
    align-self: flex-start;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.kanji-cover {
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat;
    background-position: center center;
    transition: opacity 100ms 1.5s ease-in;
}

@media only screen and (orientation: portrait) {
    .kanji-cover {
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.kanji-main {
    width: 100%;
    align-self: flex-end;
}

.kanji-grid {
    width: 70vh;
    height: 70vh;
    display: flex;
    margin: 1vh auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
}

@media only screen and (orientation: portrait) {
    .kanji-grid {
        width: 96vw;
        height: 96vw;
    }
}

.kanji-square {
    width: 20%;
    height: 20%;
    transition: transform 100ms ease-in;
}

@media (pointer:fine) {
    .kanji-square:hover {
        transform: scale(1.1);
    }
}

.kanji-square:active,
.kanji-square__done:hover {
    transform: none;
}

.kanji-square span {
    background-color: #fff;
    line-height: 14vh;
    font-size: 6vh;
    text-align: center;
    width: 96%;
    height: 96%;
    margin: 2%;
    display: block;
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
}

.kanji-square__done span {
    cursor: default;
    border: none;
}

@media only screen and (orientation: portrait) {
    .kanji-square span {
        line-height: 19vw;
        font-size: 9vw;
    }
}

.kanji-info {
    position: relative;
    z-index: 2;
    max-height: 30vh;
    font-size: 5vh;
    padding: 2vh 5vh;
    text-align: center;
}

@media only screen and (orientation: portrait) {
    .kanji-info {
        max-height: 100%;
    }
}

.kanji-task {
    font-family: Times, serif;
}

.kanji-hint {
    font-size: 0.8em;
    margin-top: 0.5em;
}

.kanji-answer {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    white-space: nowrap;
    transform: translateX(-50%) translateY(-50%) scale(1);
    transition: transform 100ms ease-in;
}

.kanji-answer-reading {
    font-size: 0.35em;
    font-weight: 100;
}

.kanji-info__correct .kanji-hint,
.kanji-info__correct .kanji-task {
    display: none;
}

.kanji-info__correct .kanji-answer {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(2);
}

.kanji-settings-button {
    position: absolute;
    right: 0.5vh;
    top: 0.5vh;
    padding: 1vh;
    height: 1em;
    width: 1em;
    line-height: 1;
    z-index: 3;
    cursor: pointer;
    color: #333;
    text-align: center;
    font-family: Menlo, monospace;
    font-size: 5vh;
    user-select: none;
}

.kanji-settings-button:active,
.kanji-settings-button:hover {
    color: #000;
}

.kanji-settings-popup {
    position: absolute;
    z-index: 2;
    right: 1vh;
    top: 7vh;
    padding: 1vh 2vh;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
}

.kanji-settings-control {
    margin: 0.5em 0;
}

.kanji-settings-control input {
    margin-right: 0.5em;
}

.kanji-bubble {
    display: none;
}

@media only screen and (max-width: 1024px)  {
    .kanji-bubble {
        display: block;
        background: rgba(30, 30, 30, 0.9);
        color: #fff;
        padding: 6vw;
        left: 12%;
        right: 12%;
        bottom: 15px;
        text-align: center;
        position: fixed;
        z-index: 10;
        font-size: 4vh;
        border-radius: 4px;
        transform: translateY(120%);
        transition: transform 300ms ease-in;
    }

    .kanji-bubble__visible {
        transform: translateY(0);
    }

    .kanji-bubble:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 15px 15px 0px;
        display: block;
        width: 0px;
        z-index: 1;
        bottom: -15px;
        left: 50%;
        margin-left: -15px;
        border-color: rgba(30, 30, 30, 0.9) transparent;
    }
}
